# for verification tests
DATABASE_URL=bolt://neo4j:<your-neo4j-password>@localhost:7687
DATABASE_NAME=neo4j
API_BASE_URL=http://localhost:8000
API_AUTH_TOKEN=

# Used for both compare_val_prd.ipynb and get_studylist_with_uid.ipynb scripts
## app registration ids, using UI for accessing the api
REG_DEV=
REG_TST=
REG_VAL=
REG_PRD=
REG_EDU=

## authority ids
### for dev, test and other prev envs
AUTHORITY_DEV=
### for prd, val and edu envs
AUTHORITY_PRD=

## scopes
SCOPE_DEV=
SCOPE_TST=
SCOPE_VAL=
SCOPE_PRD=
### EDU 1 & 2 use the same scope
SCOPE_EDU=

## API URLs to test with
URL_DEV=
URL_TST=
URL_VAL=
URL_PRD=
URL_PRD2=
URL_EDU1=
URL_EDU2=